<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <link rel="alternate" type="application/atom+xml" title="cdino.net" href="/feed.xml">
  <script defer src="https://cloud.umami.is/script.js" data-website-id="f2d4d146-1a06-4363-b4cf-f8604e8e8b1b"></script>
  {% seo %}
</head>
<body>
  <h1><a href="/">christopher di-nozzi</a></h1>
  <p>
    <a href="/about">about</a>
    |
    <a href="/projects">projects</a>
    |
    <a href="/blog">blog</a>
  </p>
  <hr>
  {{ content }}
  <hr>
  <p>
    <a href="https://www.linkedin.com/in/christopher-d-794b35166/">linkedin</a>
    |
    <a href="https://x.com/cdin0x">twitter/x</a>
    |
    <a href="https://github.com/chrisdinozzi">github</a>
  </p>
</body>
</html>